{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>
                Name:
            </th>
            <th>
                Rating:
            </th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>
                    <a href="{{ path('app_author_show', {id: author.Authorsid()}) }}"> {{ author.getName() }} "{{ author.getNickname()}}" {{ author.getSurname() }} </a>
                </td>
                <td>
                    {{ author.getRating() }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}