{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <section id="wrapper">

        <div class="row">
            <div class="col-md-10">

                <div class="article">
                    <h2>{{ article.getTitle() }}</h2>

                    <div class="d-inline"><i class="fa fa-calendar"></i>{{ article.getCreationDate()|date("F jS \\a\\t g:ia") }}</div>
                    <div class="float-right d-inline"><a href="{{ path('app_author_show', {id: author.getAuthorid()}) }}" style=" color: black; text-decoration: none "> <i class="fa fa-user"></i>{{ author.getName() }} {{ author.getSurname() }}</a></div>
                    {#<li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>#}

                    <br>
                    <br>
                    <div class="article-content">
                        <p>{{ article.getContent() }}</p>
                    </div>
                    {% if rating == null %}
                        <script type="text/javascript">
                            $(function(){
                                $("#rating-block").click(function(e) {
                                    if (e.target.tagName.toUpperCase() === "LABEL") {
                                        return;
                                    }
                                    var rating_value = $(":radio[name=rating]:checked").val();
                                    alert(rating_value);
                                    $.ajax({
                                        type: 'POST',
                                        url: "{{ path('app_article_upvote', {id: article.getArticleid()}) }}",
                                        success: function(){
                                            var i;
                                            for (i = 5; i >= 1; i--)
                                            {
                                                if (i == rating_value) {
                                                    var radio = document.getElementById( i + '-stars');
                                                    var att = document.createAttribute("checked");
                                                    att.value = "checked";
                                                    radio.setAttributeNode(att);
                                                }
                                                else
                                                {
                                                    document.getElementById( i + '-stars').type = "radio disabled"
                                                }
                                            }
                                        },
                                    })
                                });
                            });
                        </script>

                        <div id="rating-block">
                            <div class="star-rating">
                                <input type="radio" id="5-stars" name="rating" value="5" />
                                <label for="5-stars" class="star">&#9733;</label>
                                <input type="radio" id="4-stars" name="rating" value="4" />
                                <label for="4-stars" class="star">&#9733;</label>
                                <input type="radio" id="3-stars" name="rating" value="3" />
                                <label for="3-stars" class="star">&#9733;</label>
                                <input type="radio" id="2-stars" name="rating" value="2" />
                                <label for="2-stars" class="star">&#9733;</label>
                                <input type="radio" id="1-stars" name="rating" value="1" />
                                <label for="1-star" class="star">&#9733;</label>
                            </div>
                        </div>
                    {% else %}
                        <div id="rating-block">
                            <div class="star-rating">
                        {% for i in 5..1  %}
                            {% if i == rating.getRating() %}
                                <input type="radio" id="{{ i }}-stars" name="rating" value="{{ i }}" checked="checked" />
                                <label for="{{ i }}-stars" class="star">&#9733;</label>
                            {% else %}
                                <input type="radio disabled" id="{{ i }}-stars" name="rating" value="{{ i }}" />
                                <label for="{{ i }}-stars" class="star">&#9733;</label>
                            {% endif %}
                        {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <script type="text/javascript">
                        $(function(){
                            $(document).one('click', '.edit-button', function(e) {
                                var article = {{ article.getArticleid() }};
                                $.ajax({
                                    type: 'POST',
                                    url: "{{ path('app_edit_email', {receiver: author.getEmail()}) }}",
                                    data: {articleid: article},
                                    success: function(){},
                                })
                            });
                        });
                    </script>

                    <div class="d-inline edit-button">
                        <button class="btn-secondary">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}