{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ article.getTitle() }}</h1>
<h2>{{ author.getName() }} {{ author.getSurname() }}</h2>
    <h5>{{ author.getRating() }}</h5>
    <div>
        {% for tag in tags %}
        {{ tag.getTagname() }} ,
        {% endfor %}
    </div>

<p>
    {{ article.getContent() }}
</p>
{% endblock %}